<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Zara Therapy Cilinc</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />
    <link href="lib/twentytwenty/twentytwenty.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- Jquery event Stylesheet -->
    <script src="js/jquery.event.move.min.js"></script>
  </head>

  <body>
    <!-- Render Header Component -->
    <div headerContent="header.html"></div>
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Accessories</h1>
                <a href="index.html" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h4 text-white">About</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row  row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                <div class="col-p">
                    <div class="card ">
                        <!-- Product image-->
                        <img class="card-img-top" src="./img/products/Acces/Balance Ball.jpg" alt="..." />
                    </div>
                </div>
                <div class="col-p1">
                    <a href="accessories.html" target>Home/ Accessories
                    </a>
                    <span>
                        <h1>Balance Ball
                        </h1>
                        <div>
                            <h3>Gaiam
                            </h3>
                        </div>
                        <div class="product-description pb-1 mt-1">
                            <div class="mb-2 subscription-card-description">
                                <div class="expand-text closed">
                                    <div>
                                        <p>Gaiam Total Body Balance Ball Kit - Includes Anti-Burst Stability Exercise
                                            Yoga Ball, Air Pump, Workout Program
                                        </p>
                                    </div>
                                </div>

                                <section class="mt-1">
                                    <h5> Material: <span style="font-weight: bold;"> Polyvinyl Chloride (PVC)
                                        </span> </h5>

                                </section class="mt-1">
                                <h5>Retail: <span style="color:red"><strike class="ng-binding">$18</strike></span>
                                </h5>
                                <h5>Discount: <span style="color:#0089DB" class="ng-binding">$14</span></h5>
                                <div class="input-group">
                                    <input type="number" id="quantity"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                        ng-model="quantity" style="max-width: 70px; border-radius: 10px;" value="1">
                                    <button data-name="Oraganic Peppermint" ng-click="addToCart(essential)"
                                        class="btn btn-outline-dark mt-auto1" style="border-radius: 10px;"
                                        onclick="addProduct()">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>


            </div>
        </div>
    </section>

    <!-- About  -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    ABOUT
                </h5>
                <ul class="mb-4-1">
                    <li>BALANCE BALL KIT: Total Body Balance Ball workout kit with medium (65 cm) exercise ball for an
                        ideal low-impact core strengthening workout</li>
                    <li>WORKOUT GUIDE INCLUDED: Exercise abs, back, glutes, lower and upper body with the included yoga
                        ball and a 105-minute workout designed by fitness expert Tanja Djelevic</li>
                    <li>65cm BALANCE BALL: Medium size balance ball is recommended for users between 5'6" and 5'11"
                        tall. Use the stability ball as an exercise and fitness tool or as an alternative office desk
                        chair solution for active sitting.</li>
                    <li>KIT INCLUDES: Medium green exercise ball for yoga and Pilates, easy-inflate air pump, and
                        workouts (Packaging may vary to include DVD or Digital Download)</li>
                    <li>INFLATION NOTICE: It may be necessary to re-inflate your new Balance Ball once or twice after
                        initial inflation to stretch the ball to its final size. Inflate ball with air, let stand for 24
                        hours, deflate 50% then fill again to 65cm height.</li>
                </ul>
            </div>
        </div>
    </div>
    <!--  Product Description -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    PRODUCTS DESCRIPTION
                </h5>
                <p class="mb-4-1">The Total Body Balance Ball Workout was developed to combine our Balance Ball with
                    resistance training for maximum results. Leading fitness instructor Tanja Djelevic takes you through
                    a series of Pilates, yoga and strength moves using the exercise ball to focus on major muscle
                    groups. Use the yoga ball to improve your body’s core strength and natural balance while getting
                    trim and toned. This stability ball kit delivers dynamic whole-body workouts that range from
                    beginner to advanced featuring a 105-minute workout tailored to the Total Body Balance Ball with
                    three 20-minute focused segments on abs, upper and lower body and a Balance Ball Express with three
                    10-minute segments.
                </p>
                <p class="mb-4-1">Gaiam is a leading lifestyle brand with a mission to make yoga, fitness, and
                    well-being accessible to all. Gaiam was created as a lifestyle company with the vision that, given a
                    choice, people would choose a lifestyle that is healthy and life enhancing, for themselves, their
                    families and the Earth. The Gaiam wellness, yoga, meditation, and recovery lifestyle is a vote for
                    individual health as well as the future sustainability of the Earth's resources. Gaiam strives to
                    provide customers with alternatives to traditional products by offering natural or healthy versions
                    that compare with the style, quality and price of conventional products.
                </p>
                <ul> Kit includes:
                    <li>Air pump</li>
                    <li>High-quality, anti-burst Balance Ball</li>
                    <li>105-minute workout (Packaging may vary to include DVD or Digital Download)</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Product details -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    PRODUCTS DETAILS
                </h5>
                <li>Brand : Gaiam</li>
                <li>Item Weight : Grams</li>
                <li>Material : 880 Pounds</li>
                <li>Age Range (Description) : Adult</li>
                <li>Product Dimensions : 29.49"L x 29.49"W x 29.49"H</li>
                <li>tem Package Dimensions L x W x H : .39 x 9.61 x 4.65 inches</li>
                <li>Package Weight : 1.31 Kilograms</li>
                <li>Style : Green (65cm)</li>
                <li>Included Components : 1 x Yoga Ball, 1 x Air Pump, 1 x Workout Guide</li>
                <li>ASIN : B000VDXFU8</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Newsletter Start -->
    <div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1">
        <div class="container">
            <div class="bg-primary p-5">
                <form class="mx-auto" style="max-width: 600px">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-3" placeholder="Your Email" />
                        <button class="btn btn-dark px-4">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
    <!-- Render Footer Component -->
    <div footerContent="footer.html"></div>
    <script>
      document.addEventListener("submit", function (event) {
        if (event.target && event.target.id === "loginForm") {
          event.preventDefault(); // Prevent form submission
          handleLogin(); // Call the login function
        }
      });
    </script>
    <script>
      window.addEventListener("load", function () {
        const searchButton = document.getElementById("searchButton");
        if (searchButton) {
          searchButton.addEventListener("click", function () {
            const searchInput = document.getElementById("searchInput").value;
            updateSearchResults(searchInput);
          });
        }
      });
    </script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.event.move/1.3.6/jquery.event.move.min.js"></script>
    <script src="lib/twentytwenty/jquery.twentytwenty.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/include.js"></script>
    <script src="js/login-search.js"></script>
    <script src="js/onlineview.js"></script>
    <script src="js/products/accessories.js"></script>
    <script src="js/products/cart.js"></script>
    <script src="js/products/helping.js"></script>
    <script src="js/products/lotions.js"></script>
  </body>
</html>