<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Zara Therapy Cilinc</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />
    <link href="lib/twentytwenty/twentytwenty.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- Jquery event Stylesheet -->
    <script src="js/jquery.event.move.min.js"></script>
  </head>

  <body>
    <!-- Render Header Component -->
    <div headerContent="header.html"></div>
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Helping Machines</h1>
                <a href="index.html" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h4 text-white">About</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row  row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                <div class="col-p">
                    <div class="card ">
                        <!-- Product image-->
                        <img class="card-img-top" src="./img/products/helping/ElectricSP.jpg" alt="..." />
                    </div>
                </div>
                <div class="col-p1">
                    <a href="helping.html" target>Home/ Helping Machines
                    </a>
                    <span>
                        <h1>Electronic Pulse Stimulator
                        </h1>
                        <div>
                            <h3>MegaWise
                            </h3>
                        </div>
                        <div class="product-description pb-1 mt-1">
                            <div class="mb-2 subscription-card-description">
                                <div class="expand-text closed">
                                    <div>
                                        <p>MegaWise 48 Modes（24 * 2） Dual Channel EMS TENS Unit Muscle Stimulator with
                                            14Pcs Reusable Electrode Pads. Rechargeable Continuous Mode Electronic Pulse
                                            Massager with Storage Pouch/Pads Holder
                                        </p>
                                    </div>
                                </div>

                                <section class="mt-1">
                                    <h5> Number of Batteries: <span style="font-weight: bold;"> 1 Lithium Polymer
                                        </span> </h5>

                                </section class="mt-1">
                                <h5>Retail: <span style="color:red"><strike class="ng-binding">$45</strike></span>
                                </h5>
                                <h5>Discount: <span style="color:#0089DB" class="ng-binding">$34</span></h5>
                                <div class="input-group">
                                    <input type="number" id="quantity"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                        ng-model="quantity" style="max-width: 70px; border-radius: 10px;" value="1">
                                    <button data-name="Oraganic Peppermint" ng-click="addToCart(essential)"
                                        class="btn btn-outline-dark mt-auto1" style="border-radius: 10px;"
                                        onclick="addProduct()">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>


            </div>
        </div>
    </section>

    <!-- About  -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    ABOUT
                </h5>
                <ul class="mb-4-1">
                    <li>7*24 Live Chat Support: FREE upgrade to FULL-Replacement Guarantee-no need to return. We treat
                        you like family and want you to be happy! If you are not satisfied, we simply refund your money.
                    </li>
                    <li>GET IMMEDIATE PAIN RELIEF WITH 24 CHOICES AND 20 LEVEL INTENSITY: Reduce pain and muscle spasms
                        caused by a wide range of conditions including arthritis, period pain, knee pain, neck pain,
                        back pain, sports injuries.</li>
                    <li>A/B DUAL INDEPENDENT CHANNELS Control 2pcs/4pcs/6pcs TENS unit pads for targeted pain relief:
                        You can set separate modes and intensities for channel A and channel B. 10pcs & Different
                        Size:Stick pads on anywhere as you need.</li>
                    <li>Built-in Powerful Rechargeable Lithium Battery&Conveniently Pocket-sized.Up to 20 Hours of
                        Continuous Use. It can be connected to the wall charger, power bank or laptop USB port to
                        charge.</li>
                    <li>NOTE: Refer User Manual Before Use. Before turn on the TENS unti, please make sure the pads are
                        sticked on your treatment area first.</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- NOTE -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    NOTE
                </h5>
                <p class="mb-4-1">Products with electrical plugs are designed for use in the US. Outlets and voltage
                    differ internationally and this product may require an adapter or converter for use in your
                    destination. Please check compatibility before purchasing.
                </p>
            </div>
        </div>
    </div>
    <!-- Product details -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    PRODUCTS DETAILS

                </h5>
                <ul class="mb-4-1">
                    <LI>Package Dimensions : 6.26 x 3.66 x 3.11 inches; 12.63 Ounces</LI>
                    <LI>Item model number : AS1080</LI>
                    <LI>Batteries : 1 Lithium Polymer batteries required. (included)</LI>
                    <LI>Date First Available : August 10, 2020</LI>
                    <LI>Manufacturer : MegaWise</LI>
                    <LI>ASIN : B08FHZ25D1</LI>
                    <LI>Country of Origin : China</LI>

                </ul>
            </div>
        </div>
    </div>

    <!-- Newsletter Start -->
    <div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1">
        <div class="container">
            <div class="bg-primary p-5">
                <form class="mx-auto" style="max-width: 600px">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-3" placeholder="Your Email" />
                        <button class="btn btn-dark px-4">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
    <!-- Render Footer Component -->
    <div footerContent="footer.html"></div>
    <script>
      document.addEventListener("submit", function (event) {
        if (event.target && event.target.id === "loginForm") {
          event.preventDefault(); // Prevent form submission
          handleLogin(); // Call the login function
        }
      });
    </script>
    <script>
      window.addEventListener("load", function () {
        const searchButton = document.getElementById("searchButton");
        if (searchButton) {
          searchButton.addEventListener("click", function () {
            const searchInput = document.getElementById("searchInput").value;
            updateSearchResults(searchInput);
          });
        }
      });
    </script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.event.move/1.3.6/jquery.event.move.min.js"></script>
    <script src="lib/twentytwenty/jquery.twentytwenty.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/include.js"></script>
    <script src="js/login-search.js"></script>
    <script src="js/onlineview.js"></script>
    <script src="js/products/accessories.js"></script>
    <script src="js/products/cart.js"></script>
    <script src="js/products/helping.js"></script>
    <script src="js/products/lotions.js"></script>
  </body>

</html>