<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Zara Therapy Cilinc</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />
    <link href="lib/twentytwenty/twentytwenty.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- Jquery event Stylesheet -->
    <script src="js/jquery.event.move.min.js"></script>
  </head>

  <body>
    <!-- Render Header Component -->
    <div headerContent="header.html"></div>
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Accessories</h1>
                <a href="index.html" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h4 text-white">About</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row  row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                <div class="col-p">
                    <div class="card ">
                        <!-- Product image-->
                        <img class="card-img-top" src="./img/products/Acces/Muscle Stimulator.jpg" alt="..." />
                    </div>
                </div>
                <div class="col-p1">
                    <a href="accessories.html" target>Home/ Accessories
                    </a>
                    <span>
                        <h1>Muscle Stimulator
                        </h1>
                        <div>
                            <h3>Beurer
                            </h3>
                        </div>
                        <div class="product-description pb-1 mt-1">
                            <div class="mb-2 subscription-card-description">
                                <div class="expand-text closed">
                                    <div>
                                        <p>Beurer EM34 TENS Unit Muscle Stimulator, 2-in-1 Knee & Elbow TENS Machine,
                                            E-Stim Device for Knee Pain Relief with 25 Intensity Levels, Electric
                                            Massager with Universal Brace
                                        </p>
                                    </div>
                                </div>

                                <section class="mt-1">
                                    <h5>Power Source: <span style="font-weight: bold;"> Battery Powered
                                        </span> </h5>

                                </section class="mt-1">
                                <h5>Retail: <span style="color:red"><strike class="ng-binding">$69</strike></span>
                                </h5>
                                <h5>Discount: <span style="color:#0089DB" class="ng-binding">$49</span></h5>
                                <div class="input-group">
                                    <input type="number" id="quantity"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                        ng-model="quantity" style="max-width: 70px; border-radius: 10px;" value="1">
                                    <button data-name="Oraganic Peppermint" ng-click="addToCart(essential)"
                                        class="btn btn-outline-dark mt-auto1" style="border-radius: 10px;"
                                        onclick="addProduct()">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>


            </div>
        </div>
    </section>

    <!-- About  -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    ABOUT
                </h5>
                <ul class="mb-4-1">
                    <li>2-in-1 TENS UNIT: Our electric muscle stimulator provides targeted pain relief by using TENS
                        technology to send electrical impulses to target muscles and alleviate knee and elbow pain</li>
                    <li>EASY OPERATION: The TENS device is easy-to-use – the unit features auto shut-off and built-in
                        timer function to help keep track of your treatment time</li>
                    <li>ADJUSTABLE INTENSITY: The e-stim machine is equipped with 25 adjustable intensity levels so you
                        can find the program that best fits your needs – the digital LCD display helps you to easily
                        visualize your desired intensity level</li>
                    <li>UNIVERSAL BRACE: The ergonomic universal brace with a hook-and-loop fastener can be used on
                        elbows and knees and fits both large and small circumferences – the elbow and knee sleeve is
                        designed with 2 water contact electrodes, so no gel is needed</li>
                    <li>DRUG-FREE PAIN RELIEF: Get natural pain relief at home – our TENS stimulator is ideal for aiding
                        with pain from common overuse injuries, such as runners knee, tennis elbow, and more</li>
                    <li>PLEASE NOTE: This product is not recommended for use on any part of the body that has a metal
                        implant, i.e. knee replacements which contain metal components</li>
                </ul>
            </div>
        </div>
    </div>
    <!--  Product Description -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    PRODUCTS DESCRIPTION
                </h5>
                <p class="mb-4-1">The Beurer 2-in-1 Knee & Elbow Muscle Stimulator provides targeted and comfortable
                    muscle knee pain relief. The pain management programs allow you to manage your knee or elbow pain
                    with electrostimulation. We've designed our EM34 TENS machine to provide you with tailored relief,
                    knee support, patella stabilizing and meniscus recovery. The portable physical therapy device is
                    lightweight and easy to use. It includes an adjustable body-fitting, ergonomic cuff with a
                    hook-and-loop fastener, batteries, and a convenient belt clip. The stretchy universal cuff can be
                    used for both elbow and knee. The unit features a display panel which indicates if the device is
                    powered and visualizes the intensity level. From there, you can easily increase and/or decrease the
                    strength with the buttons on the unit. It is an ideal accessory for runners. What is TENS? TENS
                    (Transcutaneous Electrical Nerve Stimulation) treats the area directly by working in harmony with
                    your body to alleviate both severe and chronic pain. The low voltage electrical current travels
                    through the electrodes and into the skin stimulating specific nerve pathways to produce a tingling
                    or massaging sensation that reduces and suppresses pain signals from reaching the brain.
                </p>
            </div>
        </div>
    </div>
    <!-- Product details -->
    <div class=".px-lg-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title mb-4-1 subscription-card-description">
                <h5 class="position-relative d-inline-block text-primary  ">
                    PRODUCTS DETAILS
                </h5>
                <li>Product Dimensions  :  7 x 4.7 x 3.9 inches; 1 Pounds</li>
                <li>Item model number  :  EM34</li>
                <li>Batteries  :  3 AAA batteries required. (included)</li>
                <li>Date First Available  :  July 31, 2017</li>
                <li>Manufacturer  :  Beurer North America LP</li>
                <li>ASIN  :  B073HMFW87</li>
                <li>Country of Origin  :  China</li>
                <li>Domestic Shipping: Currently, item can be shipped only within the U.S. and to APO/FPO addresses. For
                    APO/FPO shipments, please check with the manufacturer regarding warranty and support issues.</li>


                </ul>
            </div>
        </div>
    </div>

    <!-- Newsletter Start -->
    <div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1">
        <div class="container">
            <div class="bg-primary p-5">
                <form class="mx-auto" style="max-width: 600px">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-3" placeholder="Your Email" />
                        <button class="btn btn-dark px-4">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
    <!-- Render Footer Component -->
    <div footerContent="footer.html"></div>
    <script>
      document.addEventListener("submit", function (event) {
        if (event.target && event.target.id === "loginForm") {
          event.preventDefault(); // Prevent form submission
          handleLogin(); // Call the login function
        }
      });
    </script>
    <script>
      window.addEventListener("load", function () {
        const searchButton = document.getElementById("searchButton");
        if (searchButton) {
          searchButton.addEventListener("click", function () {
            const searchInput = document.getElementById("searchInput").value;
            updateSearchResults(searchInput);
          });
        }
      });
    </script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.event.move/1.3.6/jquery.event.move.min.js"></script>
    <script src="lib/twentytwenty/jquery.twentytwenty.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/include.js"></script>
    <script src="js/login-search.js"></script>
    <script src="js/onlineview.js"></script>
    <script src="js/products/accessories.js"></script>
    <script src="js/products/cart.js"></script>
    <script src="js/products/helping.js"></script>
    <script src="js/products/lotions.js"></script>
  </body>

</html>